body{
	background: #fff url('http://getwallpapers.com/wallpaper/full/0/6/1/61094.jpg') repeat;
	background-size: cover;
	background-attachment:fixed;
	color: white;
}
.table{

	color: #D4D5D7;
}

tbody tr:hover{

	color:#007BFF;
}
